<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta.html" . }}
  </head>
  <body>
		{{ partial "nav.html" . }}
		{{ partial "page-header.html" . }}
    <main>
      <div class="row" id="content">
        <div class="medium-8 columns">
          {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
          {{ end }}
        </div>
          {{ partial "sidebar.html" . }}
      </div>
    </main>
		{{ partial "page-footer.html" .}}
		<foot>
			<script src="{{ .Site.BaseURL }}js/app.js"></script>
		</foot>
  </body>
</html>
