{{ define "main" }}

{{ $paginator := .Paginate (where .Data.Pages "Type" "news") }}
{{ range $paginator.Pages }}
  {{ .Render "summary" }}
{{ end }}

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div>
    {{ if and (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <a class="button" href="{{ .Paginator.Prev.URL }}">{{ i18n "paginatorPrevious" }}</a>
      <a class="button" href="{{ .Paginator.Next.URL }}">{{ i18n "paginatorNext" }}</a>
    {{ end }}
    {{ if and (.Paginator.HasPrev) (not .Paginator.HasNext) }}
      <a class="button" href="{{ .Paginator.Prev.URL }}">{{ i18n "paginatorPrevious" }}</a>
      <a class="button disabled" href="#" aria-disabled="true">{{ i18n "paginatorNext" }}</a>
    {{ end }}
    {{ if and (not .Paginator.HasPrev) (.Paginator.HasNext) }}
      <a class="button disabled" href="#" aria-disabled="true">{{ i18n "paginatorPrevious" }}</a>
      <a class="button" href="{{ .Paginator.Next.URL }}">{{ i18n "paginatorNext" }}</a>
    {{ end }}
    <hr>
  </div>
{{ end }}

{{ end }}
