{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="blog-post">
  <h2>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h2>
  <div class="meta small">
    <small>
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ .Date.Format $dateFormat }}
      </time> by {{ .Params.author | default .Site.Params.author }}.
      {{ if (.Params.categories) }}Categories: {{ partial "meta-categories.html" . }}.{{ end }}
      {{ if (.Params.tags) }}Tags: {{ partial "meta-tags.html" . }}.{{ end }}
    </small>
  </div>
  <p>
    {{ .Summary }}
  </p>
  <a href='{{ .Permalink }}'>{{ i18n "readMore" }}</a>
  <hr>
</div>
