<li class="orbit-slide">
    <figure class="orbit-figure">
        <img class="orbit-image" src="/img/carousel/{{ .img }}" alt="{{ .txt }}">
        <figcaption class="orbit-caption">{{ .txt }}</figcaption>
    </figure>
</li>
