<footer class="blog-footer">
	<div class="row full-width">
		<div class="small-12 medium-6 large-4 columns">
			<h4>
				<i class="fa fa-info-circle"></i>
				<span>{{ i18n "about" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "about" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
			</ul>
			<h4>
				<i class="fa fa-question-circle"></i>
				<span>{{ i18n "support" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "support" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
   		</ul>

			<h4>
				<i class="fa fa-users"></i>
				<span>{{ i18n "contribute" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "contribute" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
			</ul>

		</div>
		<div class="small-12 medium-6 large-4 columns">
			<h4>
				<i class="fa fa-book"></i>
				<span>{{ i18n "documentation" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "documentation" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
   		</ul>
			<h4>
				<i class="fa fa-money"></i>
				<span>{{ i18n "donate" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "donate" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
   		</ul>
		</div>
		<div class="small-12 medium-6 large-4 columns">
			<h4>
				<i class="fa fa-download"></i>
				<span>{{ i18n "download" }}</span>
			</h4>
			<ul>
        {{ range where .Site.Pages.ByTitle "Type" "download" }}
        <li><a href="{{ .Permalink }}">
            {{ .Title }}
        </a></li>
        {{ end }}
   		</ul>

			<h4>
				<i class="fa fa-newspaper-o"></i>
				<span>{{ i18n "news" }}</span>
			</h4>
			<ul>
				<li>
					<a href="/news/">
						{{ i18n "news"}}
					</a>
				</li>
			</ul>

			<h4>
				<i class="fa fa-share-square"></i>
				<span>{{ i18n "followUs" }}</span>
			</h4>
			<ul>
				<li>
					<a href="https://www.facebook.com/digikam/">
						Facebook
					</a>
				</li>
				<li>
					<a href="https://twitter.com/digiKamSN/">
						Twitter
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/groups/12186015/">
						LinkedIn
					</a>
				</li>
			</ul>
		</div>

	</div>
  <div class="row column">
      <p>
        Design by <a href="https://pixls.us" class='pixls-footer' title="PIXLS.US - Free/Open Source Photography">PIXLS.US - Free/Open Source Photography</a>
      </p>
      <p>
        <b>Copyright 2001-2019 the digiKam team - digiKam is a part of <a href="https://www.kde.org/">KDE Familly</a></b>
      </p>
    <p>
      {{ i18n "copyright" | markdownify }}
    </p>
    <p>
        <i class='fa fa-chevron-up'></i> <a href="{{ .Permalink }}#">{{ i18n "backToTop" }}</a>
    </p>
  </div>
</footer>
